* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: rgb(138, 105, 212);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

body {
  width: 100%;
  background-color: rgb(236, 228, 253);
  color: black;
  color: rgb(138, 105, 212);
}

.full-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.main-section {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.rules-section {
  padding: 1rem;
}

.start-btn {
  all: unset;
  color: white;
  cursor: pointer;
  padding: 2rem;
  border-radius: 2rem;
  background-color: rgb(52, 181, 52);
  font-weight: bold;
}
.start-btn:hover {
  background-color: green;
}
.game {
  padding: 3rem;
  margin-block: 3rem;
  max-width: 500px;
  background-color: rgba(45, 45, 45, 0.9);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 2rem;
}

.game-item {
  padding: 1rem;
}

.game-item-tag {
  font-size: 1.5rem;
}
.game-item-letter {
  font-size: 6rem;
  height: 6rem;
}
